body{
    margin: 0;
    text-align: center;
    background-color: #3d3d3d;
    font-family: system-ui, -apple-system;
    color: #ffffff;
}

#page-context{
    background-color: #1d1d1d;
    overflow: hidden;
}

#subheading{
    text-decoration: underline;
}
